<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <h1 class="text-center buffer-bottom"><%= t('header.access_with_pincode') %></h1>

    <%= form_tag('', method: 'post') do |f| %>
      <div class="form-group">
        <%= label :pincode, t('pincode') %>
        <%= password_field_tag :pincode, params[:pincode], class: 'form-control' %>
      </div>

      <div class="actions">
        <%= submit_tag t('button.submit'), class: 'btn btn-primary' %>
      </div>
    <% end %>
    <p class="buffer-top">
      <%= link_to t('link.home'), events_path %>
    </p>
  </div>
</div>
