<h2><%= "#{t('.title')} #{@event.title}" %></h2>
<hr/>
<p><%= @comment.body %></p>
<p><%= t('.author') %>: <strong><%= @comment.user_name %></strong></p>

<hr/>

<%= t('.event') %>
<h3><%= link_to @event.title, @event %></h3>

<p><%= due_time_to(@event) %></p>
<p><%= t('.owner') %>: <b><%= link_to @event.user.name, @event.user %></b></p>
